/*
	Sets the style of the image slider wrapper <div> to be centered horizontally and vertically.
	It also sets its default dimensions and the overflowing hidden (to fix the IE image positioning bug).
*/
body {
    font-family: sans-serif;
    line-height: 1.3;
    font-family: 'Lato', sans-serif;
}


.color-choices img {
    width: 300px;
}



.threesixy-container {
    position: relative;
    width: 100vw;
    height: 60vh;
    margin: auto;
/*    height: 100vh;*/
    overflow:hidden;
}

#threesixty {
    overflow:hidden;
}

/*
	Makes the image slider invisible by default
*/
#threesixty_images {
	display: none;
}

/*
	Sets every image in the slider to be absolute positioned and dynamically sized.
*/
#threesixty img {
	position:absolute;
    min-width: 800px;
	max-width:100%;
	height:auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    height: 15vh;
    overflow-y: hidden;
    overflow-x: auto;
}

.footer::-webkit-scrollbar {
    display: none;
}

.header {
    height: 15vh;
    text-align: center;
    position: relative;
}

.header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: -0.2rem;
    font-family: 'Montserrat', sans-serif;
/*    color: #02284B;*/
    color: #000;
}

.logo .l1 { opacity: 0.5; }
.logo .l2 { opacity: 0.6; }
.logo .l3 { opacity: 0.7; }
.logo .l4 { opacity: 1.0; }
.logo .l5 { opacity: 0.7; }
.logo .l6 { opacity: 0.6; }


/*.features {
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100%;
    min-width: 800px;
    height: 65vh;
}
*/
.features .icon {
    display: inline-block;
    width: auto;
    opacity: 1;
}

.features .left,
.features .right,
.features .center {
    -webkit-transition: left 1s, right 1s, opacity 1s; /* Safari */
    transition: left 1s, right 1s, opacity 1s;
}

.features .left {
    position: fixed;
    top: 20vh;
    left: 30vw;
}

.features .right {
    position: fixed;
    top: 20vh;
    left: 65vw;
}

.features .center {
    position: fixed;
    top: 65vh;
    left: 50%;
}

.features .hidden .left {
    left: 27vw;
    opacity: 0;
}

.features .hidden .right {
    left: 68vw;
    opacity: 0;
}

.features .hidden .center  {
    left: 53%;
    opacity: 0;
}

.feature-title {
    font-weight: 300;
    font-size: 1.5rem;
}

.features small {
    font-weight: 300;
    color: #777;
    font-size: 1.1rem;
}

/*
	Sets the style of the visible current frame of the image slider animation
*/
.current-image {
	visibility:visible;
	width:100%;
}

.icon img {
    width: 40px;
    position: absolute;
    left: -50px;
    max-width: 100px;
    margin-top: 2px;
}

.power-down-label,
.power-up-label {
    font-size: 4rem;
    color: #555;
    font-weight: 100;
    line-height: 1;
    opacity: 1;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}

.power-down-label {
    transform: rotate(-90deg) translateX(-25%);
    position: fixed;
    left: -13%;
    bottom: 70%;
}

.power-up-label {
    transform: rotate(90deg) translateX(-25%);
    position: fixed;
    right: -8%;
    top: 50%;
}

.power-down-label.hidden {
    opacity: 0.1;
    transform: rotate(-90deg) translateX(2%);
}

.power-up-label.hidden {
    opacity: 0.1;
    transform: rotate(90deg) translateX(2%);
}

/*
	Sets the style of the visible "previous" frame of the image slider animation
*/
.previous-image {
	visibility:hidden;
	width:0;
}
/*
	Sets the dimensions of the CanvasLoader placeholder <div>, it also centeres it horizontally and vertically inside the wrapper and makes it invisible by default
*/
#spinner {
	position:absolute;
	left:50%;
	top:50%;
	width:90px;
	height:90px;
	margin-left:-45px;
	margin-top:-50px;
	display:none;
}
/*
	Sets the style of the percentage <span> of the preloader by setting its dimensions and centering it horizontally and vertically
*/
#spinner span {
	position:absolute;
	top:50%;
	width:100%;
	color:#333;
	font:0.8em Arial, Verdana, sans;
	text-align:center;
	line-height:0.6em;
	margin-top:-0.3em;
}

.color-choices {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    opacity: 0.5;
}

.color-choices li {
    display: inline;
    width: 25%;
    height: 15vh;
/*    margin: 30px;*/
/*    padding: 0px 15px;*/
/*    position: relative;*/
}

.color-choices li a {
    cursor: pointer;
}

/*.color-choices a::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 5px;
}
*/
.color-choices a.maize-blue::before {
    background-color: #FECA31;
}

.color-choices a.teal::before {
    background-color: #6ADCF3;
}

.color-choices a.white::before {
    background-color: #eee;
}

.color-choices a.orange::before {
    background-color: orange;
}

.color-choices a {
    position: relative;
}

.color-choices .label {
    z-index: 10;
    position: absolute;
    left: 50%;
    display: inline-block;
    bottom: 80%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: 300;
}

@media (min-width: 1700px) {
    .feature-title {
        font-weight: 300;
        font-size: 1.8rem;
    }

    .features small {
        font-weight: 300;
        color: #777;
        font-size: 1.4rem;
    }

    .power-down-label {
        left: 0%;
    }

    .power-up-label {
        right: 0%;
    }

    .header .logo {
        font-size: 7rem;
    }

}
